{% extends 'layout.html' %}
{% load static %}
{% block data %}
<!-- ==========  SLIDER ========== -->
<div class="slider_container">
  <div class="slider_main1">
    <img src="{% static 'images/slider3.jpg' %}" alt="" class="slider_img" />
    <div class="slider_text">
      <h1></h1>
    </div>
  </div>
  <div class="slider_main2">
    <img src="{% static 'images/slider1.jpg' %}" alt="" class="slider_img" />
    <div class="slider_text">
      <h1></h1>
    </div>
  </div>
  <div class="slider_main3">
    <img src="{% static 'images/slider2.jpg' %}" alt="" class="slider_img" />
    <div class="slider_text">
      <h1></h1>
    </div>
  </div>
  <div class="slider_main4">
    <img src="{% static 'images/slider1.jpg' %}" alt="" class="slider_img" />
    <div class="slider_text"></div>
    <h1></h1>
  </div>
</div>

<!--==================  protected  =====================-->

<section class="parties">
  <div class="parties1" id="chief-1">
    <img src="{% static 'images/protected.png' %}" alt="" />
  </div>
  <div class="parties2" id="chef1-about">
    <h1 style="margin-top: -5%;">Your Faithful Partners Medical Goods</h1>
    <br>
    <p style="text-align: justify;">
      Houzez allow you to design unlimited panels and real estate custom forms to capture leads and keep record of all information.
    </p>
    <div class="tick_content">
    <div  class="tick">
      <i class="fa-solid fa-square-check fa-lg" style="color: #3dd66b;"></i>
      <span style="margin-right: 27%;">Better security for patient privacy and information.</span>
    </div>
    <div class="tick">
      <i class="fa-solid fa-square-check fa-lg" style="color: #3dd66b;"></i>
      <span style="margin-right:54%;">More products at lower prices.</span>
    </div>
    <div class="tick">
      <i class="fa-solid fa-square-check fa-lg" style="color: #3dd66b;"></i>
      <span style="margin-right: 20%;">connect customers with the power of eCommerce at all.</span>
    </div>
    <hr style="margin-right: 10%;margin-top: 5%;">
    <div class="dr_img">
      <img src="{% static 'images/dr.png' %}" width="60%" alt="">
    </div>
    </div>
  </div>
</section>


<!-- =========== Sales Section ======== -->

<section>
  <div class="sales_container">
    <img src="{% static 'images/1.jpg' %}" alt="">
    <img src="{% static 'images/2.jpg' %}" alt="">
    <img src="{% static 'images/3.jpg' %}" alt="">
  </div>
</section>

<!--============ Products =============-->

<div class="best_Seller">
  <h1>Best Seller Products</h1>
</div>


<section>
  <div class="wrapper">
    <div class="medi_items">
      <img src="{% static 'images/5.png' %}" alt="" />
      <div class="info">
        <table style="width:140px;height: 50px;">
          <tr>
            <td><i class="fa-solid fa-eye fa-lg"></i></td>
            <td><i class="fa-solid fa-cart-shopping fa-lg"></i></td>
            <td><i class="fa-solid fa-heart fa-lg"></i></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="medi_items">
      <img src="{% static 'images/2.jpg' %}" alt="" />
      <div class="info">
        <table style="width:140px;height: 50px;margin-top: -20%;">
          <tr>
            <td><i class="fa-solid fa-eye fa-lg"></i></td>
            <td><i class="fa-solid fa-cart-shopping fa-lg"></i></td>
            <td><i class="fa-solid fa-heart fa-lg"></i></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="medi_items">
      <img src="{% static 'images/7.png' %}" alt="" />
      <div class="info">
        <table style="width:140px;height: 50px;">
          <tr>
            <td><i class="fa-solid fa-eye fa-lg"></i></td>
            <td><i class="fa-solid fa-cart-shopping fa-lg"></i></td>
            <td><i class="fa-solid fa-heart fa-lg"></i></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="medi_items">
      <img src="{% static 'images/2.jpg' %}" alt="" />
      <div class="info">
        <table style="width:140px;height: 50px;">
          <tr>
            <td><i class="fa-solid fa-eye fa-lg"></i></td>
            <td><i class="fa-solid fa-cart-shopping fa-lg"></i></td>
            <td><i class="fa-solid fa-heart fa-lg"></i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
  <section>
  <div class="wrapper">
    <div class="medi_items">
      <img src="{% static 'images/8.png' %}" alt="" />
      <div class="info">
        <table style="width:140px;height: 50px;">
          <tr>
            <td><i class="fa-solid fa-eye fa-lg"></i></td>
            <td><i class="fa-solid fa-cart-shopping fa-lg"></i></td>
            <td><i class="fa-solid fa-heart fa-lg"></i></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="medi_items">
      <img src="{% static 'images/6.png' %}" alt="" />
      <div class="info">
        <table style="width:140px;height: 50px;">
          <tr>
            <td><i class="fa-solid fa-eye fa-lg"></i></td>
            <td><i class="fa-solid fa-cart-shopping fa-lg"></i></td>
            <td><i class="fa-solid fa-heart fa-lg"></i></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="medi_items">
      <img src="{% static 'images/1.jpg' %}" alt="" />
      <div class="info">
        <table style="width:140px;height: 50px;">
          <tr>
            <td><i class="fa-solid fa-eye fa-lg"></i></td>
            <td><i class="fa-solid fa-cart-shopping fa-lg"></i></td>
            <td><i class="fa-solid fa-heart fa-lg"></i></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="medi_items">
      <img src="{% static 'images/6.png' %}" alt="" />
      <div class="info">
        <table style="width:140px;height: 50px;">
          <tr>
            <td><i class="fa-solid fa-eye fa-lg"></i></td>
            <td><i class="fa-solid fa-cart-shopping fa-lg"></i></td>
            <td><i class="fa-solid fa-heart fa-lg"></i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  </section>

<!-- ============== Additions Goods ================ -->
<div class="container" style="margin-top: 8%;">
  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <thead>
		    <tr>
		      <th scope="col">S.no</th>
		      <th scope="col">Doctor</th>
		      <th scope="col">Name</th>
		      <th scope="col">Specialist</th>
		      <th scope="col">TIme</th>
		      <th scope="col">Available</th>
		    </tr>
		  </thead>
       {% for i in doctor %}
		  <tbody>
		    <tr>
		      <th scope="row">{{forloop.counter}}</th>
		      <td class="w-25">
			      <img src="{% static i.image %}" style="width: 40%;" class="img-fluid img-thumbnail" alt="Sheep">
		      </td>
		      <td style="padding-top: 4%;">{{i.name|upper}}</td>
		      <td style="padding-top: 4%;">{{i.expert}}</td>
		      <td style="padding-top: 4%;">{{i.time}}</td>
          {% if i.time >= 10 or i.time  <= 8 %}
          <td style="padding-top: 4%;">✅</td>
          {% else %}
          <td style="padding-top: 4%;">❌</td>
          {% endif %}
		    </tr>
		  </tbody>
      {% endfor %}
		</table>   
    </div>
  </div>
</div>


<style>
  .container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

table{
  text-align: center;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}
</style>



{% endblock %}

